@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header .logo-container{
  padding: 0rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
.header ul{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0rem 5rem;
}
.header ul li{
  padding: 0.5em 1rem;
  border-radius: 6px;
  cursor: pointer;

}
.header ul .create-post{
  background-color: #429d42;
  color: white;
  transition: 0.2s ease-out;
}

.header ul .create-post:hover{
  background-color: #058a05;
}


.header ul .remove-all-post{
  background-color: #cc3e51;
  color: white;
  transition: 0.2s ease-out;
}

.header ul .remove-all-post:hover{
  background-color: #d44c0d;
}

.footer{
  height: 3rem;
  background-color: white; 
  position: absolute;
  bottom: 0;
  width: 100%;
 display: flex;
}

.footer h5{
  text-align: center;
  margin: auto;
}