@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
.error{
  color: #d41a1a;
  font-size: 15px;
  margin: 4px 0 8px 0;
  font-weight: bolder;
}
.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 2rem;

}
.header .logo-container{
  padding: 0rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
.header ul{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0rem 5rem;
}
.header ul li{
  padding: 0.5em 1rem;
  border-radius: 6px;
  cursor: pointer;

}
.header ul .create-post-li{
  background-color: #429d42;
  color: white;
  transition: 0.2s ease-out;
}

.header ul .create-post-li:hover{
  background-color: #058a05;
}


.header ul .remove-all-post{
  background-color: #cc3e51;
  color: white;
  transition: 0.2s ease-out;
}

.header ul .remove-all-post:hover{
  background-color: #d44c0d;
}

.footer{
  height: 3rem;
  background-color: white; 
   width: 100%;
 display: flex;
}

.footer h5{
  text-align: center;
  margin: auto;
}




.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
  margin-block: 2rem;
  }
  
  @media screen and (max-width : 600px) {
    .post{
      grid-template-columns: 1fr;
    }
  }
  .post .texts h2{
    margin: 0;
    font-size: 1.5rem;
    /* width: 30%; */
    word-wrap: break-word;
  }
  
  .info{
    margin: 6px 0px;
    color: #888;
    font-size: .75rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  .info a{
    color: #333;
    text-decoration: none;
  }
  
  .post .summary{
   
    margin: 17px 0;
    line-height: 1.5rem;
    /* width: 30%; */
    word-wrap: break-word;
  }

  
  .post-page{
    padding: 2rem;
  }

  .post-page h1{
    margin-block: 2rem;
  }


  .post-page .image img{
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    object-position: center center  ;
  }

   .post-page .image img{
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    object-position: center center  ;
  }
  .post-page p {
    font-weight: 600;
    line-height: 2rem;
    margin-block: 2rem;
  }
  .edit{
    padding: 9px 50px;
    border: none;
    background: #6c6cbd;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
  }
  
  .edit:hover{
    background-color: rgb(81, 81, 179);
  }

  .delete{
    padding: 9px 50px;
    border: none;
    background: #cc3e51;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
  }
  
  .delete:hover{
    background-color: rgb(206, 30, 30);
  }

.my-5{
  margin-left: 3rem;
}

  .create-post ,  .UpdatePost{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  form{
    width: 50%;
    background-color: #b4b568;
    padding: 5rem;
    margin-top: 20rem;
  }
  form h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-block: 2rem;
  }
  .label{
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .input , textarea{
    display: block;
    width: 100%;
    margin-block: 1rem;
    padding: 11px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
  }
  
  .btn{
    width: 100%;
    margin-block: 2rem;
    display: block;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 0;
    font-size: 16px;
    transition: 0.5s ease-in-out;
  }
  .success{
    background-color: #429d42;
    color: white;
  }

  .success:hover{
    background-color: #058a05;
  }

  .update{
    background-color: #1dc5b7;
    color: white;
  }

  .update:hover{
    background-color: #025a56;
  }


  .update-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }